footer{
  padding: 102px 0px;
  content: "";
  position: relative;
  overflow: hidden;
  background-color: $font-color;
  color: $primary_color;
}
footer .envato-market {
  float: left;

}

footer .envato-market .heading h2{
  font-size: $font-size+10;
  font-family: $font-family-os;
  font-weight: 500;
  text-transform: uppercase;
}

footer .recent-post{
  display: inline-block;
  float: left;
  margin-left: 20px;
}

footer .recent-post .heading h2{
  font-size: $font-size+10;
  font-family: $font-family-os;
  font-weight: 500;
  text-transform: uppercase;
}

footer .footer-head h2{
  font-size: $font-size+10;
  font-family: $font-family-os;
  font-weight: 500;
  text-transform: uppercase;

}
footer .adress{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: $font-size+2;
  font-family: $font-family-os;
  font-weight: 400;
}
footer .adress-info{
  margin-top: 20px;
}
footer .adress-info i{
display: inline-block;
  float: left;
  margin-right: 10px;
  font-size: $font-size+6;
}

footer .adress-info p{
  font-size: $font-size+2;
  font-family: $font-family-os;
  font-weight: 400;
}
footer .envato-market .envato{
  margin-top: 50px;
}

footer .envato-market .envato .info i{
  float: left;
  display: inline-block;
  font-size: $font-size+10;
  margin-right: 15px;
}

footer .envato-market .envato .info p{
  font-size: $font-size+2;
  font-family: $font-family-os;
  font-weight: 400;
  text-transform: capitalize;
}

footer .envato-market .envato .info p:hover{
  font-size: $font-size+2;
  font-family: $font-family-os;
  font-weight: 400;
  color: $hover;
  text-transform: capitalize;

}
footer .recent-post .rc-content{
  margin-top: 50px;
  width: 100%;
  height: 100%;

}




footer .recent-post .rc-content .rc-post .rc-post-info {
  margin-left: 15px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  margin-bottom: 20px;
}

footer .recent-post .rc-content .rc-post .rc-post-info h4{
  font-size: $font-size+2;
  font-family: $font-family-os;
  font-weight: 500;

}
footer .recent-post .rc-content .rc-post .rc-post-info p{
  font-size: $font-size;
  font-family: $font-family-os;
  font-weight: 400;
}

footer .thumbnails{
margin-top: 50px;
}

footer .recent-post .rc-content .rc-post .rc-thumbnails{
  display: inline-block;
  float: left;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .7s ease;
}

footer .recent-post .rc-content .rc-post .rc-thumbnails img{
  margin-right: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .7s ease;

}

footer .recent-post .rc-content .rc-post .rc-thumbnails .overlay-rcnt{
  background-color: $bl;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  text-align: center;
  color: $primary_color;
}
footer .recent-post .rc-content .rc-post .rc-thumbnails:hover .overlay-rcnt{
  opacity: .8;

}

footer .recent-post .rc-content .rc-post .rc-thumbnails .overlay-rcnt i{
  color: $primary_color;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: $font-size+10;
  opacity: 10;
  text-align: center;
  margin-top: 25px;
}





#copyrights{
  padding: 40px 0px;
  content: "";
  position: relative;
  overflow: hidden;
  background-color: $cp;

}

#copyrights .copyright{
 text-align: left;
  color: $primary_color;
  font-size: $font-size+2;
  text-decoration: none;
  font-family: $font-family-os;
  font-weight: 400;
}
#copyrights .copyright:hover{
color: $hover;
}

#copyrights .main-menu{
  margin-right:15px;
}
#copyrights .main-menu .menu li{

  list-style: none;
  float: left;
  display: inline-block;
  margin-left: 15px;
}
#copyrights .main-menu .menu li a{
 font-size: $font-size+2;
  text-decoration: none;
  color: $primary_color;
  font-family: $font-family-os;
  font-weight: 400;
}
#copyrights .main-menu .menu li a:hover{
  font-size: $font-size+2;
  text-decoration: none;
  color: $hover;
  font-family: $font-family-os;
  font-weight: 400;
}