/*==================================================
     we do area start
 ================================================== */

/*-- we do area start  --*/

.header-top{
  text-align: center;
}
.header-top h2{
  text-align: center;
  font-size: $font-size+20;
  font-family: $font-family-os;
  font-weight: 700;
  text-transform: uppercase;
  color: $font-color;
}
 .header-top span{
  text-align: center;
  font-size: $font-size+20;
  font-family: $font-family-os;
  font-weight: 700;
  color: $hover;
  text-transform: uppercase;
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1920px) {
  .header-top .border{
    border: 2px solid $hover;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 10px;
  }

  .header-top .border:before{
    content: "";
    position: absolute;
    left: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    background-color: $hover;
    text-align: center;
    display: inline-block;
    margin-left: 44.2%;
  }

  .header-top .border:after{
    content: "";
    position: absolute;
    right: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    margin-right: 44.2%;
    background-color: $hover;
  }

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-top .border{
    border: 2px solid $hover;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 10px;
  }

  .header-top .border:before{
    content: "";
    position: absolute;
    left: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    background-color: $hover;
    text-align: center;
    display: inline-block;
    margin-left: 44%;
  }

  .header-top .border:after{
    content: "";
    position: absolute;
    right: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    margin-right: 44%;
    background-color: $hover;
  }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

  .header-top .border{
    border: 2px solid $hover;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 10px;
  }

  .header-top .border:before{
    content: "";
    position: absolute;
    left: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    background-color: $hover;
    text-align: center;
    display: inline-block;
    margin-left: 42%;
  }

  .header-top .border:after{
    content: "";
    position: absolute;
    right: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    margin-right: 42%;
    background-color: $hover;
  }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-top .border{
    border: 2px solid $hover;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 10px;
  }

  .header-top .border:before{
    content: "";
    position: absolute;
    left: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    background-color: $hover;
    text-align: center;
    display: inline-block;
    margin-left: 43%;
  }

  .header-top .border:after{
    content: "";
    position: absolute;
    right: 0;
    top: 180px;
    width: 5%;
    height: 2px;
    margin-right: 43%;
    background-color: $hover;
  }
}

.header-top p{
  text-align: center;
  font-size: $font-size;
  font-family: $font-family-os;
  font-weight: 400;
  line-height: 20px;
  word-spacing: 0.1em;
}
#wedo-area{
  padding: 102px 0px;
  content: "";
  position: relative;
  background-color: $primary_color;
  overflow: hidden;
  text-align: center;
}
#wedo-area .single-we-do{
  margin-top: 50px;
  background-color: $bg;
  padding: 40px 15px;
  text-align: center;
  color: $font-color;
  transition: 4s;

}
#wedo-area .single-we-do:hover {
  margin-top: 50px;
  background-color: $hover;
  padding: 40px 15px;
  text-align: center;
  color: $primary_color;
  transition: 4s;

}
#wedo-area .single-we-do i{
font-size: $font-size+20;

}
#wedo-area .single-we-do h2{
  font-size: $font-size+5;
  font-family: $font-family-os;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
margin-top: 20px;
}
#wedo-area .single-we-do p{
  font-size: $font-size;
  font-family: $font-family-os;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}


  /*==================================================
       service  area
   ================================================== */
/*-- service  area start  --*/
#service-area{
  padding: 102px 0px;
  content: "";
  position: relative;
  background-color: $bg;
  overflow: hidden;
}
#service-area .single-service{
  margin-top: 30px;
  background-color: $hover;
  padding: 35px 15px;
  text-align: center;
  color: $primary_color;
  transition-delay: 4s;
}
#service-area .single-service:hover{
  margin-top: 30px;
  background: url(#{$image_path}/hover1.jpg) no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  color: $primary_color;


}
#service-area .single-service i{
  font-size: $font-size+20;
}
#service-area .single-service h2{
  font-size: $font-size+5;
  font-family: $font-family-os;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}
#service-area .single-service p{
  font-size: $font-size;
  font-family: $font-family-os;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}


/*==================================================
     portfolio area
 ================================================== */

/*-- portfolio area start  --*/
#portfolio-area{
  padding: 102px 0px;
  content: "";
  position: relative;
  background-color: $primary_color;
  overflow: hidden;
  margin-bottom: -102px;
}
#portfolio-area #container {
  margin-left: 0px;
  margin-right: -10px;
}
.portfolio-area #buttons{
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}
.portfolio-area #buttons li {

  display: inline-block;
  list-style: none;
  text-align: center;
  background-color: $primary_color;
  margin-right: 5px;
  width: 140px;
  line-height: 50px;
  overflow: hidden;
  content: '/';
  border: 1px solid $hover;


}
.portfolio-area  #buttons li a {
  text-decoration: none;
  color: $hover;
  display: block;
  font-size: $font-size;
  font-weight: 700;
  text-transform: uppercase;
  transition: 1s;
}
.portfolio-area #buttons li a:hover, .portfolio-area  #buttons li a:focus,.portfolio-area  #buttons li  a:active {
  text-decoration: none;
  color:$primary_color;
  display: block;
  font-size: $font-size;
  background-color: $hover;
  font-weight: 700;
  text-transform: uppercase;
  transition: 1s;
}
.portfolio-area  #buttons li a:active{
  color: $hover;
  background-color: $primary_color;
}
.portfolio-area #container {
  margin: 0px;
}
.grid-item {
  display: inline-block;
  height: 250px;
  overflow: hidden;
  text-align: center;
  width: 380px;
  float: left;
}

.grid-item img {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.isotope-pager .pager {
  display: none;
}
.grid-item .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $font-color;
  text-align: center;
}
.overlay .inner-over1{
  color: $primary_color;
  background-color: $bl;
  height: 60%;
  width: 100%;
  opacity: .2;
  position: relative;
  text-align: center;
}
.overlay .inner-over2{
  color: $bl;
  background-color: $primary_color;
  height: 40%;
  width: 100%;
  opacity: 100;
  position: relative;
 text-align:center ;
}
.overlay .inner-over2 i{
  font-size: $font-size+10;
  color: $primary_color;
  background-color: $hover;
  padding: 15px 15px;
  border-radius: 100%;
  opacity: 10;
  position: relative;
  margin-top: -30px;
  text-align: center;
}
.overlay .inner-over2 h2{
  margin-top: 2px;
  font-family: $font-family-os;
  font-size: $font-size+6;
  text-transform: uppercase;
  font-weight: 700;
}
.overlay .inner-over2 p{
  margin-top: 2px;
  font-family: $font-family-os;
  font-size: $font-size;
  text-transform: uppercase;
  font-weight: 400;
}
.grid-item:hover .overlay {
  opacity: .9;
}


/*==================================================
     team-area start
 ================================================== */

/*-- team-area start  --*/
#team-area{
  padding: 102px 0px;
  content: "";
  position: relative;
  background-color: $primary_color;
  overflow: hidden;
}
#team-area .single-team{
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  transition: .7s ease;
}
#team-area .single-team img {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .7s ease;
}
#team-area .single-team .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: $font-color;
  text-align: center;
  color: $primary_color;

}
#team-area .single-team:hover .overlay{
  opacity: .8;
}
#team-area .single-team .overlay h2{
  font-size: $font-size+10;
  font-family: $font-family-os;
  font-weight: 700;
  text-align: center;
  color: $primary_color;
  margin-top: 100px;
  text-transform: uppercase;
}
#team-area .single-team .overlay h4{
  font-size: $font-size;
  font-family: $font-family-os;
  font-weight: 400;
  text-align: center;
  color: $primary_color;
  margin-top: 10px;
  text-transform: uppercase;
}
#team-area .single-team .overlay .s-icon{
  text-align: center;
  margin-top: 15px;
}
#team-area .single-team .overlay .s-icon i{
  color: $primary_color;
  display: inline-block;
  font-size: $font-size+6;
  margin-right: 15px;
  transition: .4s ease;
}
#team-area .single-team .overlay .s-icon i:hover{
  color: $hover;
  display: inline-block;
  font-size: $font-size+6;
  margin-right: 15px;
  transition: .4s ease;
}

/*==================================================
     counter-area
 ================================================== */

/*-- counter-area start  --*/
#counter-area{
  padding: 60px 0px;
  content: "";
  position: relative;
  overflow: hidden;
  background: url(#{$image_path}/counterbg.jpg) no-repeat;
  background-size: cover ;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  color: $primary_color;
}
#counter-area .single_counter{
  border: 2px solid $primary_color;
  width:220px;
  border-radius: 50%;
  height:220px;
  text-align: center;
  font-size: 14px;
  transition: 2s;
}
#counter-area .single_counter:hover{
  border: 2px solid $hover;
  background-color: $hover;
  width:220px;
  border-radius: 50%;
  height:220px;
  text-align: center;
  font-size: 14px;
  transition: 2s;
}
#counter-area .single_counter i{
font-size: $font-size+10;
  color: $primary_color;
  margin-top: 40px;
}
#counter-area .single_counter h4{
  font-size: $font-size+4;
  font-family: $font-family-os;
  font-weight: 400;
  color: $primary_color;
  text-transform: uppercase;
}
#counter-area .single_counter .counter {

  margin:1.5%;
  font-size: $font-size+20;
  width:220px;
  border-radius: 50%;
  height:220px;
  display: table-cell;
  vertical-align: text-bottom;
}

/*==================================================
     pricing area
 ================================================== */

/*-- pricing-area start  --*/
#pricing-area{
  padding: 102px 0px;
  content: "";
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
}
#pricing-area .single-price{
  text-align: center;
  border:1px solid $font-color2;
  margin-top: 30px;
}
#pricing-area .single-price .plan-name1{
  padding: 50px 10px;
  background-color: #019dd8;
  color: $primary_color;
}
#pricing-area .single-price .over1{
  background-color: #019dd8;
  color: $primary_color;
}
#pricing-area .single-price .plan-name2{
  padding: 50px 10px;
  background-color: #00a652;
  color: $primary_color;
}
#pricing-area .single-price .over2{
  background-color: #00a652;
  color: $primary_color;
}
#pricing-area .single-price .plan-name3{
  padding: 50px 10px;
  background-color: #14b0bc;
  color: $primary_color;
}
#pricing-area .single-price .over3{
  background-color: $hover;
  color: $primary_color;
}


#pricing-area .zoomshadow {
  border:1px solid $border;
  position: relative;
  -webkit-transition: all 150ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 150ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 150ms ease-in;
  -moz-transform: scale(1);
  transition: all 150ms ease-in;
  transform: scale(1);
}
#pricing-area .zoomshadow:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 150ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 150ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 150ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 150ms ease-in;
  transform: scale(1.1);
}


#pricing-area .single-price:hover .over{
  background-color: #0d004c;
  color: $primary_color;
}
#pricing-area .single-price .over h2{
  color: $primary_color;
  font-size: $font-size+16;
  font-family: $font-family-os;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
#pricing-area .single-price .over h3{
  color: $primary_color;
  font-size: $font-size+16;
  font-family: $font-family-os;
  font-weight: 700;
  text-transform: uppercase;
}

#pricing-area .single-price .over h3 span{
  color: $primary_color;
  font-size: $font-size+6;
  font-family: $font-family-os;
  font-weight: 400;
  text-transform:capitalize;
}

#pricing-area .single-price .plan-signup{
padding: 40px 0px;
}
#pricing-area .single-price .plan-signup a{
  font-size: $font-size+6;
  font-family: $font-family-os;
  font-weight: 700;
  width: 60px;
  height: 30px;
  text-align: center;
  padding: 15px 30px;
  line-height: 1.42;
  border-radius: 30px;
  text-decoration: none;
}

#pricing-area .single-price .plan-list ul li{
 list-style: none;
  padding: 30px 0px;
  background-color: $primary_color;
  font-family: $font-family-os;
  font-size: $font-size+4;
  font-weight: 400;
  text-transform: capitalize;
  color: $bl;
}

#pricing-area .single-price .plan-list .bg{
  background-color: $bg;
  list-style: none;
  padding: 30px 0px;

}

/*==================================================
    testimonial area
 ================================================== */

/*-- testimonial area start  --*/
#testimonial-area{
  padding: 102px 0px;
  content: "";
  position: relative;
  overflow: hidden;
  background-color: $font-color;
}


/* Carousel */

/* Carousel */

#testimonial-area #quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */
}
#testimonial-area #quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#testimonial-area #quote-carousel .carousel-control.left {
  left: -60px;
}
#testimonial-area #quote-carousel .carousel-control.right {
  right: -60px;
}
#testimonial-area #quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#testimonial-area #quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #CCC;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s;
}
#testimonial-area #quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 128px;
  height: 128px;
  border-radius: 100px;
  border-color: $hover;
  opacity: 1;
  overflow: hidden;
}

.carousel-inner {
  min-height: 300px;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
  color: $primary_color;
  font-size: $font-size+6;

}

.item blockquote p{

  color: $primary_color;
  font-size: $font-size;
  text-align: left;
  font-family: $font-family-os;
  font-weight: 400;
  line-height: 25px;
  word-spacing: 2px;
}

.item blockquote small{
  color: $primary_color;
  font-size: $font-size+6;
  text-align: center;
  font-family: $font-family-os;
  font-weight: 700;
  text-transform: uppercase;
}




#testimonial-area .header-top h2 {
  text-align: center;
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary_color;
}

/*==================================================
    blog area
 ================================================== */

/*-- blog area start  --*/

#blog-area{
  padding: 102px 0px;
  content: "";
  position: relative;
  overflow: hidden;
}
#blog-area .single-blog{
  border: 1px solid $border;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  content: " ";
}


#blog-area .single-blog .post-thumbnails{
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .7s ease;
}
#blog-area .single-blog .post-thumbnails img{

  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .7s ease;
}
#blog-area .single-blog .post-thumbnails .overlay{
 background-color: $bl;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  text-align: center;
  color: $primary_color;
}
#blog-area .single-blog .post-thumbnails:hover .overlay{
 opacity: .8;

}


#blog-area  .zoomshadow {
  border:1px solid $border;
  position: relative;
  -webkit-transition: all 50ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 50ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 50ms ease-in;
  -moz-transform: scale(1);
  transition: all 50ms ease-in;
  transform: scale(1);
}

#blog-area  .zoomshadow:hover {
  box-shadow: 0px 0px 70px #000000;
  z-index: 2;
  -webkit-transition: all 50ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 50ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 50ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 50ms ease-in;
  transform: scale(1.1);
}


/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1920px) {

  #blog-area .single-blog .post-thumbnails .overlay i{
    color: $primary_color;
    background-color: $hover;
    padding: 20px 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: $font-size+10;
    margin-top: 90px;
    opacity: 10;
  }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #blog-area .single-blog .post-thumbnails .overlay i{
    color: $primary_color;
    background-color: $hover;
    padding: 15px 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: $font-size+10;
    margin-top: 50px;
    opacity: 10;
  }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  #blog-area .single-blog .post-thumbnails .overlay i{
    color: $primary_color;
    background-color: $hover;
    padding: 20px 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: $font-size+10;
    margin-top: 90px;
    opacity: 10;
  }

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 766px) {

  #blog-area .single-blog .post-thumbnails .overlay i{
    color: $primary_color;
    background-color: $hover;
    padding: 25px 25px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: $font-size+10;
    margin-top: 160px;
    opacity: 10;
  }
}

#blog-area  .single-blog .single-info {
 padding: 10px;
}
#blog-area  .single-blog .single-info h2{
    font-weight: 400;
    font-size: $font-size+10;
    font-family: $font-family-os;
    padding-bottom: 10px;
    text-transform: uppercase;
    transition: 1s;
  }


  #blog-area .single-blog .single-info .blog-info .post-by i{
    float: left;
    display: inline-block;
    margin-right: 5px;

  }
  #blog-area .single-blog .single-info .blog-info .post-by p{
    float: left;
    display: inline-block;
    margin-right: 10px;
    font-size: $font-size+2;
    font-family: $font-family-os;
    font-weight: 400;
    margin-top: -5px;
  }
  #blog-area .single-blog .single-info .blog-info .date i{
    float: left;
    display: inline-block;
    margin-right: 5px;
  }
  #blog-area .single-blog .single-info .blog-info .date p{
    float: left;
    display: inline-block;
    margin-right: 5px;
    font-size: $font-size+2;
    font-family: $font-family-os;
    font-weight: 400;
    margin-top: -5px;
  }
  #blog-area .single-blog .single-info .blog-info .comment i{
    float: left;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

  }
  #blog-area .single-blog .single-info .blog-info .comment p{
    display: inline-block;
    font-size: $font-size+2;
    font-family: $font-family-os;
    font-weight: 400;
    margin-top: -5px;
    vertical-align: super;
  }

  a:hover, #blog-area .single-blog .single-info .readmore a:active, #blog-area .single-blog .readmore a:focus{
    color: $hover;
    background-color: $transparent;
  }

  a{
    color: $hover;
  }
.btn {
  background-color: $transparent;
  border-radius: 0px;
  border: 1px solid $hover;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $font-family-os;
}


.single-blog:hover .hr-over {
  color: $hover;
  transition: 1s;
}

.single-blog:hover .bttn-hover, .btn:hover {
  color: $primary_color;
  background-color: $hover;
  border: 1px solid $hover;
  transition: 2s;
}
  /*==================================================
       contact area start
   ================================================== */

  /*-- contact area start  --*/
  #contact-area{
    padding: 102px 0px;
    content: "";
    position: relative;
    overflow: hidden;
    background-color: $bg;
  }


fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  position: relative;
}

 #contact input[type="email"]{
   border:1px solid $bg;
   background:$primary_color;
   float: left;
   display: inline-block;
   margin-right: 6%;
   width: 47%;
   height: 40px;
   text-align: left;
   padding: 15px 20px;
   line-height: 1.42;
   border-radius: 10px;
   margin-top: 33px;
 }

#contact input[type="tel"] {
  border:1px solid $bg;
  background:$primary_color;
  float: left;
  display: inline-block;
  width: 47%;
  height: 40px;
  text-align: left;
  padding: 15px 20px;
  line-height: 1.42;
  border-radius: 10px;
  margin-top: 33px;
}

#contact textarea {
  width:100%;
  border:1px solid $bg;
  background:$primary_color;
  padding:20px;
  margin-top: 33px;
  margin-bottom: 33px;

}

#contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid $bg;
}


#contact textarea {
  height:200px;
  max-width:100%;
  resize:none;
  border-radius: 15px;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:40%;
  border:none;
  background:$hover;
  color:$primary_color;
  margin:0 0 5px;
  font-size:15px;
  float: left;
  height: 40px;
  text-align: center;
  border-radius: 30px;
}

#contact button[type="submit"]:hover {
  background:$secondary_hover;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px $submit_bg; }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid $bg;
}
::-webkit-input-placeholder {
  color:$secondary_fild-color;
}
:-moz-placeholder {
  color:$secondary_fild-color;
}
::-moz-placeholder {
  color:$secondary_fild-color;
}
:-ms-input-placeholder {
  color:$secondary_fild-color;
}

#contact-area .map{
  margin-top: 33px;

}


//animation
#contact-area .header-top .animated3{
  -webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
  animation: bounceInLeft 1s ease-in-out 500ms both;
}
/*==================================================
     sponsors area start
 ================================================== */

  /*-- sponsors area start  --*/
  #sponsors-area{
    padding: 102px 0px;
    content: "";
    position: relative;
    overflow: hidden;
  }
#sponsors-area .single-sponser{
  height: 100%;
  width: 100%;
  border: 1px solid $bl;
  margin-top: 20px;
  transition: 1s;
}

#sponsors-area .single-sponser:hover{
  height: 100%;
  width: 100%;
  border: 1px solid $hover;
  margin-top: 20px;
  transition: 1s;
}
#sponsors-area .single-sponser img{
  height: 100%;
  width: 100%;
}


