/* bootstrap 3 helpers */
/*==================================================
     header top area
 ================================================== */

/*-- header top area  --*/


.navbar-form input, .form-inline input {
  width:auto;
}

header {
  height:60px;
  background-color: #f9f9f9;

}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1920px) {
  header {
    height:60px;
    background-color: #f9f9f9;

  }
  .info-top{
    float: left;
    display: inline-block;
    margin-top: 20px;
  }
  .info-top .phone{
    float: left;
    display: inline-block;
  }

  .info-top .phone i + p{
    float: right;
    display: inline-block;
    font-size: 14px;
  }

  .info-top .phone p {

    color: $font-color;
    margin-left: 5px;
  }

  .info-top .phone i:hover , .info-top .phone p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }


  .info-top .email{
    float: left;
    display: inline-block;
    margin-left: 15px;
  }

  .info-top .email i +p{
    float: right;
    display: inline-block;
    font-size: 14px;
  }
  .info-top .email p {

    color: $font-color;
    margin-left: 5px;
  }

  .info-top .email i:hover , .info-top .email p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }


  .social-icon{
float: right;
    margin-top: 20px;
    margin-right: 5px;
  }


  .social-icon i{
    text-align: center;
    padding: 5px;
    color: $font-color;
  }


  .social-icon i:hover{
    text-align: center;
    padding: 5px;
    color: $hover;
  }


}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    height:60px;
    background-color: #f9f9f9;

  }
  .info-top{
    float: left;
    display: inline-block;
    margin-top: 20px;
  }
  .info-top .phone{
    float: left;
    display: inline-block;
  }

  .info-top .phone i + p{
    float: right;
    display: inline-block;
    font-size: 14px;
  }

  .info-top .phone p {

    color: $font-color;
    margin-left: 5px;
  }

  .info-top .phone i:hover , .info-top .phone p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }


  .info-top .email{
    float: left;
    display: inline-block;
    margin-left: 15px;
  }

  .info-top .email i +p{
    float: right;
    display: inline-block;
    font-size: 14px;
  }
  .info-top .email p {

    color: $font-color;
    margin-left: 5px;
  }

  .info-top .email i:hover , .info-top .email p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }


  .social-icon{
    text-align: center;
    margin-top: 20px;
  }

  .social-icon i{
    text-align: center;
    padding: 5px;
    color: $font-color;
  }


  .social-icon i:hover{
    text-align: center;
    padding: 5px;
    color: $hover;
  }


}




/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

  header {
    height:120px;
    background-color: #f9f9f9;

  }
  .info-top{
    float: left;
    display: inline-block;
    margin-top: 20px;
  }
  .info-top .phone{
    float: left;
    display: inline-block;
  }

  .info-top .phone i + p{
    float: right;
    display: inline-block;
    font-size: 14px;
  }

  .info-top .phone p {

    color: $font-color;
    margin-left: 20px;
  }

  .info-top .phone i:hover , .info-top .phone p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }


  .info-top .email{
    float: left;
    display: inline-block;

  }

  .info-top .email i +p{
    float: left;
    display: inline-block;
    font-size: 14px;
  }
  .info-top .email p {

    color: $font-color;
    margin-left: 5px;
  }

  .info-top .email i:hover , .info-top .email p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }


  .social-icon{
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;
  }

  .social-icon i{
    text-align: center;
    padding: 5px;
    color: $font-color;
  }


  .social-icon i:hover{
    text-align: center;
    padding: 5px;
    color: $hover;
  }


}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height:120px;
    background-color: #f9f9f9;

  }
  .info-top{
    float: left;
    display: inline-block;
    margin-top:5px;
  }
  .info-top .phone{
    float: left;
    display: inline-block;
    margin-left: 20px;
  }

  .info-top .phone i + p{
    float: right;
    display: inline-block;
    font-size: 14px;
  }

  .info-top .phone p {

    color: $font-color;
    margin-left: 5px;
  }

  .info-top .phone i:hover , .info-top .phone p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }


  .info-top .email{
    float: left;
    display: inline-block;

  }

  .info-top .email i +p{
    float: right;
    display: inline-block;
    font-size: 14px;
  }
  .info-top .email p {

    color: $font-color;
    margin-left: 5px;
  }

  .info-top .email i:hover , .info-top .email p:hover {

    color: $hover;
    display: inline-block;
    font-size: 14px;
  }



  .social-icon{
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;
  }


  .social-icon i{
    text-align: center;
    padding: 5px;
    color: $font-color;
  }


  .social-icon i:hover{
    text-align: center;
    padding: 5px;
    color: $hover;
  }


}


/*==================================================
     navbar
 ================================================== */

/*-- Main navigation start --*/

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}


.nav.navbar-brand { position: relative; z-index: 2; }

.nav.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.nav.navbar .navbar-collapse { position: relative; }
.nav.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.nav.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.nav.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.nav.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.nav.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }


@media screen and (max-width: 767px) {
  .nav.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

  .nav.navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
  .nav.navbar .nav-collapse .navbar-form { margin: 0; }
  .nav.nav-collapse>li { float: none; }

}


/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1920px) {
  .navbar-default .navbar-nav > li > a {
    color: $font-color;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px;
  }
  .navbar-default .navbar-nav > li > a:hover ,.navbar-default .navbar-nav > li > a:focus , .navbar-default .navbar-nav > li > a:active {
    color: $hover;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav > li > a {
    color: $font-color;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px;
  }
  .navbar-default .navbar-nav > li > a:hover ,.navbar-default .navbar-nav > li > a:focus , .navbar-default .navbar-nav > li > a:active {
    color: $hover;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {


  .navbar-default .navbar-nav > li > a {
    color: $font-color;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 30px;
  }
  .navbar-default .navbar-nav > li > a:hover ,.navbar-default .navbar-nav > li > a:focus , .navbar-default .navbar-nav > li > a:active {
    color: $hover;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .navbar-default .navbar-nav > li > a {
    color: $font-color;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 30px;
    overflow: hidden;
    content: " ";
    z-index: 1;

  }
  .navbar-default .navbar-nav > li > a:hover ,.navbar-default .navbar-nav > li > a:focus , .navbar-default .navbar-nav > li > a:active {
    color: $hover;
    font-family: $font-family-pd;
    font-size: $font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

}



.navbar {
  border-radius: 0px;
  overflow: hidden;
  content: "";
  z-index: 1;
  position: absolute;
}


.navbar-default {
  background-color: $primary_color;
  border-color:$primary_color;
z-index: 2;
position: absolute;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $primary_color;
  background-color: $primary_color;
}


.navbar-default .navbar-brand span{
  color: $hover;
  font-family: $font-family-pd;
  font-size: $font-size+10;
  font-weight: 700;
}


.navbar-default .navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: $font-size+6;
  line-height: 20px;
  margin-top: 25px;
  text-align: center;
  color: $font-color;
  font-family: $font-family-pt;
  font-weight: 700;
}

.navbar-nav{
  margin-top: 25px;
}
.navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $hover;
  background-color: $transparent;
}

/*==================================================
     Slideshow
 ================================================== */

/*-- Main slide --*/

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1920px) {
  #main-slide .slider-content h2{
    font-size: $font-size+56;
    text-transform: uppercase;
    color: $primary_color;
    word-spacing: 5px;
    font-family: $font-family-os;
    font-weight: 700;
  }

  #main-slide .slider-content h2.white, #main-slide .slider-content h3.white {
    color: $primary_color;
  }

  #main-slide .slider-content h3{
    font-size: $font-size+22;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    color: $primary_color;
    font-family: $font-family-os;
    font-weight: 400;
  }


  #main-slide .slider-content strong{
    color: $hover;
  }

  .slider.btn{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: 28px;
    border: 1px solid $hover;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    color: $hover;
    font-family: $font-family-os;
    font-weight: 700;
  }

  .slider.btn.btn-default{
    margin-left: 4px;
    background: $primary_color;
  }

  .slider.btn.btn-default:hover{
    background: $hover;
    color: $primary_color;
  }

  .slider-content-left {
    position: relative;
    margin: 0 0 0 40px;
  }

  .slider-content-right{
    position: relative;
  }

  #main-slide .carousel-indicators {
    bottom: 10px;
    z-index: 2;
  }

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #main-slide .slider-content h2{
    font-size: 36px;
    text-transform: uppercase;
    color: $primary_color;
    font-family: $font-family-os;
    font-weight: 700;
  }

  #main-slide .slider-content h2.white, #main-slide .slider-content h3.white {
    color: $primary_color;
  }

  #main-slide .slider-content h3{
    font-size: 26px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    color: $primary_color;
    font-family: $font-family-os;
    font-weight: 400;
  }


  #main-slide .slider-content strong{
    color: $hover;
  }

  .slider.btn{
    padding: 10px 40px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: 28px;
    border: 1px solid $hover;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    color: $hover;
    font-family: $font-family-os;
    font-weight: 700;
  }

  .slider.btn.btn-default{
    margin-left: 4px;
    background: $primary_color;
  }

  .slider.btn.btn-default:hover{
    background: $hover;
    color: $primary_color;
  }

  .slider-content-left {
    position: relative;
    margin: 0 0 0 40px;
  }

  .slider-content-right{
    position: relative;
  }

  #main-slide .carousel-indicators {
    bottom: 5px;
    z-index: 2;
  }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  #main-slide .slider-content h2{
    font-size: $font-size+20;
    text-transform: uppercase;
    color: $primary_color;
    font-family: $font-family-os;
    font-weight: 700;
  }

  #main-slide .slider-content h2.white, #main-slide .slider-content h3.white {
    color: $primary_color;
  }

  #main-slide .slider-content h3{
    font-size: $font-size+10;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    color: $primary_color;
    font-family: $font-family-os;
    font-weight: 400;
  }


  #main-slide .slider-content strong{
    color: $hover;
  }

  .slider.btn{
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: 28px;
    border: 1px solid $hover;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    color: $hover;
    font-family: $font-family-os;
    font-weight: 700;
  }

  .slider.btn.btn-default{
    margin-left: 4px;
    background: $primary_color;
  }

  .slider.btn.btn-default:hover{
    background: $hover;
    color: $primary_color;
  }

  .slider-content-left {
    position: relative;
    margin: 0 0 0 40px;
  }

  .slider-content-right{
    position: relative;
  }


  #main-slide .carousel-indicators {
    bottom: 5px;
    z-index: 2;
  }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  #main-slide .slider-content h2{
    font-size: $font-size+20;
    text-transform: uppercase;
    color: $primary_color;
    font-family: $font-family-os;
    font-weight: 700;
  }

  #main-slide .slider-content h2.white, #main-slide .slider-content h3.white {
    color: $primary_color;
  }

  #main-slide .slider-content h3{
    font-size: $font-size+5;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    color: $primary_color;
    font-family: $font-family-os;
    font-weight: 400;
  }


  #main-slide .slider-content strong{
    color: $hover;
  }

  .slider.btn{
    padding: 10px 40px;
    margin-top: 10px;
    font-size: $font-size+1;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: 28px;
    border: 1px solid $hover;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    color: $hover;
    font-family: $font-family-os;
    font-weight: 700;
  }

  .slider.btn.btn-default{
    margin-left: 4px;
    background: $primary_color;
  }

  .slider.btn.btn-default:hover{
    background: $hover;
    color: $primary_color;
  }

  .slider-content-left {
    position: relative;
    margin: 0 0 0 40px;
  }

  .slider-content-right{
    position: relative;
  }

  #main-slide .carousel-indicators {
    bottom: 5px;
    z-index: 2;
  }
}


#main-slide .item img{
  width: 100%;
  background: rgba(0,0,0,.7);
}

#main-slide .item .slider-content {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
#main-slide .item.active .slider-content {
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}

#main-slide .slider-content{
  top: 50%;
  margin-top: -70px;
  left: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: $primary_color;
}



#main-slide  .carousel-indicators li{
  width: 14px !important;
  height: 14px !important;
  border: 2px solid $primary_color !important;
  margin: 1px !important;
  z-index: 999;
  position: relative;
}

#main-slide  .carousel-indicators .active {

  background-color: $hover;
  border: 2px solid $hover !important;
}

#main-slide .carousel-control.left,
#main-slide .carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

#main-slide .carousel-control.left span {
  padding: 15px;
}

#main-slide .carousel-control.right span {
  padding: 15px;
}

#main-slide .carousel-control .fa-angle-left,
#main-slide .carousel-control .fa-angle-right{
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

#main-slide .carousel-control .fa-angle-left{
  left: 0;
}

#main-slide .carousel-control .fa-angle-right{
  right: 0;
}

#main-slide .carousel-control i{
  background: rgba(0,0,0,.7);
  color: $primary_color;
  line-height: 36px;
  font-size: $font-size+18;
  padding: 15px 20px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#main-slide .carousel-control i:hover{
  background: rgba(20,178,187,.7);
  color: $primary_color;
  line-height: 36px;
  font-size: $font-size+18;
  padding: 15px 20px;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}



//animation

/*-- Animation --*/
.carousel .item.active .animated1 {

}

.carousel .item.active .animated2 {
  -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
  animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3 {
  -webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
  animation: bounceInLeft 1s ease-in-out 500ms both;
}

.carousel .item.active .animated4 {
  -webkit-animation: flipInX 1s ease-in 500ms both;
  animation: flipInX 1s ease-in 500ms both;
  text-align: center;
}

.carousel .item.active .animated5 {
  -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
  animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6 {
  -webkit-animation: bounceIn 1s ease-in 500ms both;
  animation: bounceIn 1s ease-in 500ms both;
  text-align: center;
}

.carousel .item.active .animated7 {
  -webkit-animation: bounceIn 1s ease-in 500ms both;
  animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated8 {
  -webkit-animation: fadeInDown 1s ease-in 1000ms both;
  animation: fadeInDown 1s ease-in 1000ms both;
}

